---
http_interactions:
- request:
    method: get
    uri: https://ws.lemonway.fr/mb/kwaala/dev/directkitxml/service.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"Service_mb_xml\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"Service_mb_xml\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"Service_mb_xml\">\r\n      <s:element
        name=\"RegisterWallet\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"wallet\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"clientMail\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"clientTitle\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"clientFirstName\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"clientLastName\" type=\[...]
- request:
    method: post
    uri: https://ws.lemonway.fr/mb/kwaala/dev/directkitxml/service.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="Service_mb_xml"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:RegisterWallet><tns:wlLogin>society</tns:wlLogin><tns:wlPass>rondoudou</tns:wlPass><tns:walletIp>87.231.205.18</tns:walletIp><tns:language>fr</tns:language><tns:version>1.1</tns:version><tns:wallet>1234567</tns:wallet><tns:clientMail>nico1234567@las.com</tns:clientMail><tns:clientFirstName>nicolas</tns:clientFirstName><tns:clientLastName>nicolas</tns:clientLastName></tns:RegisterWallet></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"Service_mb_xml/RegisterWallet"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><RegisterWalletResponse
        xmlns="Service_mb_xml"><RegisterWalletResult><WALLET><ID>1234567</ID><LWID>836</LWID></WALLET></RegisterWalletResult></RegisterWalletResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 05 Feb 2016 19:40:05 GMT
recorded_with: VCR 3.0.1
